################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/POS System Test/bin/Debug/net8.0-windows/POS And Inventory.dll
/POS System Test/bin/Debug/net8.0-windows/POS And Inventory.exe
/POS System Test/bin/Debug/net8.0-windows/POS And Inventory.pdb
/POS System Test/obj/Debug/net8.0-windows/apphost.exe
/POS System Test/obj/Debug/net8.0-windows/POS And Inventory.AssemblyInfo.vb
/POS System Test/obj/Debug/net8.0-windows/POS And Inventory.AssemblyInfoInputs.cache
/POS System Test/obj/Debug/net8.0-windows/POS And Inventory.dll
/POS System Test/obj/Debug/net8.0-windows/POS And Inventory.pdb
/POS System Test/obj/Debug/net8.0-windows/POS And Inventory.sourcelink.json
/POS System Test/obj/Debug/net8.0-windows/ref/POS And Inventory.dll
/POS System Test/obj/Debug/net8.0-windows/refint/POS And Inventory.dll
/POS System Test/obj/Debug/net8.0-windows

